/* Umays na ako*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

    /* fixed background sana guys*/
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(images/image1.JPG);
    display: table;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slide 20s infinite;
    background-attachmesnt: fixed;
    
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    font-family:'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 350%;
    padding-bottom: 30px;
    font-weight: 100;
}
.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #fad400;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #fad400 3px;
    text-transform: uppercase;
    text-decoration: none;
}

/*Tutok nyo guys*/
.btn:hover{
    color: #fff;
    border: solid #fff 3px;
}

html, body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    font-size: 15px;
}

header{
    background-color: #262626;
    
}

li{
    list-style: none;

}

a{
  color: white;
  text-decoration: none;

}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;


}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}


.nav-link{
    transition: 0.7s ease;  
}

.nav-link:hover{
  color: yellow;

}

.hamburger{
    display: none;
    cursor: pointer;


}

.bar{
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: white;
   border-radius: 7px;
}
.footer{
   padding: 40px 0px ;
   background-color: #fff; 
}
.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover {
    opacity: 0.9;

}
.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18;
    list-style: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover {
    opacity: 1;
    color: yellow;
}
.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}
/* Slideshow mo tang ina mo*/

@keyframes slide {
    0%{
       background-image: url("images/Image1.JPG");
    }
    20%{
        background-image: url("images/Image2.JPG");
    }
    20.01%{
        background-image: url("images/Image3.JPG");
     }
     40%{
         background-image: url("images/Image4.JPG");
     }
     40.01%{
        background-image: url("images/Image5.JPG");
     }
     60%{
         background-image: url("images/Image6.JPG");
     }
     60.01%{
         background-image: url("images/Image7.JPG");
      }
    80%{
        background-image: url("images/Image8.JPG");
      }
      80.01%{
        background-image: url("images/Image9.JPG");
     }
     100%{
         background-image: url("images/Image10.JPG");
     }
}  /*  end ng slidshow tangina*/


/* Repsonsive ba kamo? Portrait muna HAHAHAHA!*/

@media(max-width:767.98px){
    .hamburger{
        display: block;
        margin-left: 230%;
        
    }   
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media(max-width:740px) {
    .hamburger{
        display: block;
        margin-left: 200%;
    }
}
@media(max-width:915px) {
    .hamburger{
        display: block;
        margin-left: 240%;
    }
}
@media(max-width:1180px) {
    .hamburger{
        display: block;
        margin-left: 610%;
    }
}
@media(max-width:914px) {
    .hamburger{
        display: block;
        margin-left: 250%;
    }
}
@media(max-width:844px) {
    .hamburger{
        display: block;
        margin-left: 220%;
    }
}

/*tangina sakit sa ulo ampota*/


.nav-menu{
    position:fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #26262642;
    width: 100%;
    text-align: center;
    transition: 0.3s;
 
}

.nav-item{
    margin: 16px 0;
    font-family: 'Oswald', sans-serif;

}

.nav-menu.active{
    left: 0%;
}
