@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

    /* WTF*/
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;

}

.Profilepic{
    width: auto;
    height: 500px;

}
.row .p{
    text-align: right;
    max-width: 500px;
    margin: 0%;
    font-family: 'Raleway',sans-serif;
}

h5{
    color: black; 
 font-family: 'Raleway',sans-serif;
 font-size: 35px;
 margin: 10px 0 0 10px;
 white-space: nowrap;
 overflow: hidden;
 width: 100%;
 animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext { 
 from {
     width: 0;
    transition: all 2s ease-in-out;
 } 
}




/*footer sec*/
.footer{
    padding: 40px 0px ;
    background-color: #fff; 
 }
 .footer .social a {
     font-size: 24px;
     color: inherit;
     border: 1px solid #ccc;
     width: 40px;
     height: 40px;
     line-height: 38px;
     display: inline-block;
     text-align: center;
     border-radius: 50%;
     margin: 0 8px;
     opacity: 0.75;
 }
 .footer .social a:hover {
     opacity: 0.9;
 
 }
 .footer ul {
     margin-top: 0;
     padding: 0;
     list-style: none;
     font-size: 18;
     list-style: 1.6;
     margin-bottom: 0;
     text-align: center;
 }
 .footer ul li a {
     color: inherit;
     text-decoration: none;
     opacity: 0.8;
 }
 .footer ul li {
     display: inline-block;
     padding: 0 15px;
 }
 .footer ul li a:hover {
     opacity: 1;
     color: yellow;
 }
 .footer .copyright {
     margin-top: 15px;
     text-align: center;
     font-size: 13px;
     color: #aaa;
 }
 .footer .social {
     text-align: center;
     padding-bottom: 25px;
     color: #4b4c4d;
 }

 @media(max-width:768px) {
    .Profilepic{
        height: auto;
        width: 400px;
    }
}